img.login-logo {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.white_box.mb_30 {
    padding-top: 10px;
    background: #dbe9da;
    border: 3px solid #773929;
}
.theme_bg_1 {
    background: #773929 !important;
}
.justify-content-center {
    padding-bottom: 5%;
}

.form-check-input[type=checkbox] {
    border-radius: 0.25em;
}
.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, .25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
.login-parts {
    padding-top: 25px;
    padding-bottom: 25px;
}
.login-box{
    margin: 0px 1%;
    background: unset;
}

img.logo {
    width: 500px;
}
.main-title h3 {
    font-size: 40px;
    color: #793b2c;
    font-weight: 700;
    font-family: mulish, sans-serif;
}
.white_card {
    background-color: unset;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}
.white_card .white_card_body {
    padding: 0px 0px 20px;
}
.col-lg-8 {
    padding: 2% 10%;
}
.white_card .white_card_header {
    padding: 30px 0px;
}
.project_complete {
    background: #793b2c;
    background-image: unset;
    border-radius: 0px;
    height: 100%;
    padding: 30px 50px;
    margin-top: 20px; /* Adjust the top margin value as needed */
    margin-bottom: 20px; /* Adjust the bottom margin value as needed */
}
.form-control {
    line-height: 2.5;
    border: unset;
}
.form-label {
    margin-bottom: 0.5rem;
    color: #793b2c;
    text-transform: uppercase;
    font-weight: 700;
}
.anchor-link {
    text-decoration: underline;
}
button.btn.btn-primary {
    background-color: #793b2c;
    border-color: #793b2c;
    padding: 5px 25px;
}


.img-fluid {
    max-width: 100%;
    height: auto;
    margin-top: 6% !important;
    width: 100%;
}


@media (min-width: 320px) and (max-width: 480px) {
  
    .login-box{
        margin: 5px 5px;
        background: unset;
    }
    
  }

