<div class="col-lg-12">
    <div class="white_card card_height_100 mb_30">
       <div class="white_card_header">
          <div class="d-flex justify-content-between align-items-center">
             <div class="main-title">
                <h5>Attendance Details Of <b>{{ empfullname }} ({{ empcontact }})</b></h5>
             </div>
             <span class="close-button" (click)="closeModal()" style="font-size: 30px; cursor: pointer;">&times;</span>

          </div>
       </div>
       <div class="white_card_body">
          <div class="QA_section">
             <div class="QA_table mb_30">
                <table class="table" id="table_data">
                   <thead>
                      <tr>
                         <th scope="col">Map</th>
                         <th scope="col">Date</th>
                         <th scope="col">In Time</th>
                         <th scope="col">Out Time</th>
                         <th scope="col">Working Hours</th>
                         <th scope="col">Status</th>
                      </tr>
                   </thead>
                   <tbody>
                      <!-- Placeholder data for now, replace with actual data -->
                      <tr *ngFor="let row of BindData;">
                        <td>
                            <div class="btn-group">
                                  <button type="button" (click)="Map(row.att_latitudeIN, row.att_longitudeIN, row.att_latitudeOUT, row.att_longitudeOUT)" title="View Map" class="btn btn-info btn-sm me-2">
                                    <i class="ti-map-alt"></i> 
                                  </button>   
                              </div>
                          </td>
                        <td>{{row.att_date | date: 'dd-MM-yyyy'}} <br/> <span class="badge bg-success"> {{row.att_day}}</span></td>
                        <td>{{ row.att_in }}</td>
                        <td>{{ row.att_out }}</td>
                        <td>{{ row.att_diffrent }}</td>
                        <td>
                            <span [ngClass]="{
                                'badge bg-danger': row.att_status === 'Absent',
                                'badge bg-success': row.att_status === 'Present',
                                'badge bg-warning': row.att_status === 'Leave',
                                'badge bg-primary': row.att_status === 'HalfDay', 'badge': true
                            }">
                                {{row.att_status}}
                            </span>
                        </td>
                      </tr>
                      <tr *ngIf="NodataLable">
                         <td colspan="5"><span class="NodataLable">No any data</span></td>
                      </tr>
                      <tr *ngIf="LoaderShow">
                         <td colspan="5">
                            <div class="loader--spinner theme_loder_1 mb_30">
                               <div></div> <div></div> <div></div>
                               <div></div> <div></div> <div></div>
                               <div></div> <div></div> <div></div>
                               <div></div> <div></div> <div></div>
                            </div>
                         </td>
                      </tr>
                   </tbody>
                </table>
             </div>
          </div>
       </div>
    </div>
 </div>