<app-leftbar></app-leftbar>
<section class="main_content dashboard_part large_header_bg">
   <div class="main_content_iner overly_inner">
      <div class="container-fluid p-0">
         <div class="row">
            <div class="col-12">
               <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                  <div class="page_title_left">
                     <h3 class="f_s_25 f_w_700 dark_text">Dashboard</h3>
                     <ol class="breadcrumb page_bradcam mb-0">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                        <li class="breadcrumb-item active">ISS</li>
                     </ol>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-xl-12">
               <div class="white_card card_height_100 mb_30 social_media_card">
                  <div class="white_card_header">
                     <div class="main-title">
                        <h3 class="m-0">ISS Dashboard</h3>
                        <span>All Income Manage with this Dashboard</span>
                     </div>
                  </div>
                  <div class="media_thumb ml_25">
                     <img src="src/assets/img/media.svg" alt>
                  </div>
                  <div class="media_card_body">
                     <div class="media_card_list">
                     
                        <div class="single_media_card">
                           <span>Total Employee</span>
                           <h3>35.6 K</h3>
                        </div>
                        <div class="single_media_card">
                           <span>Total Project</span>
                           <h3>35.6 K</h3>
                        </div>
                        <div class="single_media_card">
                           <span>Total Client</span>
                           <h3>35.6 K</h3>
                        </div>
                        <div class="single_media_card">
                           <span>Pending Task</span>
                           <h3>35.6 K</h3>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <app-footer></app-footer>
</section>
